[Desktop Entry]
Name=WMail
Comment=WMail Email
Exec=wmail-snap.wmail
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/app.png
Categories=GNOME;GTK;Network
StartupWMClass=WMail
