[Desktop Entry]
Name=openWMail
Comment=openWMail Email
Exec=openwmail.openwmail
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/app.png
Categories=GNOME;GTK;Network
StartupWMClass=openWMail
